<center><b>SCC0252 - Visualização Computacional
<br>Instituto de Ciências Matemáticas e de Computação - USP</b></center>

<br>

---

<center><h2><b>IMDb Movies:<br/> Uma Visualização Exploratória dos Dados</b></h2></center>

---

## **Professora:** Maria Cristina

**Integrantes:**                                         
---
- Giovanni W. da Costa. __Nº:__ 10431153
- Heitor Carvalho Pinheiroa. __Nº:__ 11833351

---

## **Preparação**
---

### Installs 
---

In [132]:
# !pip install ipywidgets==7.7.2

In [133]:
# !pip install plotly==5.10.0

In [134]:
# !pip3 install seaborn

In [266]:
!pip3 install voila

Defaulting to user installation because normal site-packages is not writeable
Collecting voila
  Downloading voila-0.4.0-py3-none-any.whl (5.5 MB)
     ---------------------------------------- 5.5/5.5 MB 6.6 MB/s eta 0:00:00
Requirement already satisfied: traitlets<6,>=5.0.3 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from voila) (5.5.0)
Requirement already satisfied: nbclient<0.8,>=0.4.0 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from voila) (0.7.0)
Requirement already satisfied: jupyter-server<2.0.0,>=1.18 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from voila) (1.23.3)
Requirement already satisfied: jupyterlab-server<3,>=2.3.0 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from voila) (2.16.3)
Requirement already satisfied: jupyter-core>=4.11.0 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from voila) (5.0.0)
Collecting websockets>=9.0
  Downloading websockets-10.4-cp39-cp39-win_amd64.whl (101 kB)
     -------------------------------------- 101.4/101.4 kB 5.7 MB/s eta 0:00:00
Requirement already satisfied: nbconvert<8,>=6.4.5 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from voila) (7.2.5)
Collecting jupyter-client<=7.4.1,>=6.1.3
  Downloading jupyter_client-7.4.1-py3-none-any.whl (132 kB)
     -------------------------------------- 132.1/132.1 kB 7.6 MB/s eta 0:00:00
Requirement already satisfied: entrypoints in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyter-client<=7.4.1,>=6.1.3->voila) (0.4)
Requirement already satisfied: nest-asyncio>=1.5.4 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyter-client<=7.4.1,>=6.1.3->voila) (1.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyter-client<=7.4.1,>=6.1.3->voila) (2.8.2)
Requirement already satisfied: pyzmq>=23.0 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyter-client<=7.4.1,>=6.1.3->voila) (24.0.1)
Requirement already satisfied: tornado>=6.2 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyter-client<=7.4.1,>=6.1.3->voila) (6.2)
Requirement already satisfied: pywin32>=1.0 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyter-core>=4.11.0->voila) (305)
Requirement already satisfied: platformdirs in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyter-core>=4.11.0->voila) (2.5.4)
Requirement already satisfied: websocket-client in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyter-server<2.0.0,>=1.18->voila) (1.4.2)
Requirement already satisfied: Send2Trash in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyter-server<2.0.0,>=1.18->voila) (1.8.0)
Requirement already satisfied: jinja2 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyter-server<2.0.0,>=1.18->voila) (3.1.2)
Requirement already satisfied: terminado>=0.8.3 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyter-server<2.0.0,>=1.18->voila) (0.17.0)
Requirement already satisfied: anyio<4,>=3.1.0 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyter-server<2.0.0,>=1.18->voila) (3.6.2)
Requirement already satisfied: packaging in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyter-server<2.0.0,>=1.18->voila) (21.3)
Requirement already satisfied: prometheus-client in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyter-server<2.0.0,>=1.18->voila) (0.15.0)
Requirement already satisfied: pywinpty in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyter-server<2.0.0,>=1.18->voila) (2.0.9)
Requirement already satisfied: argon2-cffi in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyter-server<2.0.0,>=1.18->voila) (21.3.0)
Requirement already satisfied: nbformat>=5.2.0 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyter-server<2.0.0,>=1.18->voila) (5.7.0)
Requirement already satisfied: jsonschema>=3.0.1 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyterlab-server<3,>=2.3.0->voila) (4.17.1)
Requirement already satisfied: requests in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyterlab-server<3,>=2.3.0->voila) (2.28.1)
Requirement already satisfied: babel in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyterlab-server<3,>=2.3.0->voila) (2.11.0)
Requirement already satisfied: json5 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyterlab-server<3,>=2.3.0->voila) (0.9.10)
Requirement already satisfied: importlib-metadata>=4.8.3 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jupyterlab-server<3,>=2.3.0->voila) (5.1.0)
Requirement already satisfied: defusedxml in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from nbconvert<8,>=6.4.5->voila) (0.7.1)
Requirement already satisfied: pygments>=2.4.1 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from nbconvert<8,>=6.4.5->voila) (2.13.0)
Requirement already satisfied: bleach in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from nbconvert<8,>=6.4.5->voila) (5.0.1)
Requirement already satisfied: tinycss2 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from nbconvert<8,>=6.4.5->voila) (1.2.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from nbconvert<8,>=6.4.5->voila) (0.2.2)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from nbconvert<8,>=6.4.5->voila) (1.5.0)
Requirement already satisfied: beautifulsoup4 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from nbconvert<8,>=6.4.5->voila) (4.11.1)
Requirement already satisfied: markupsafe>=2.0 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from nbconvert<8,>=6.4.5->voila) (2.1.1)
Requirement already satisfied: mistune<3,>=2.0.3 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from nbconvert<8,>=6.4.5->voila) (2.0.4)
Requirement already satisfied: idna>=2.8 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from anyio<4,>=3.1.0->jupyter-server<2.0.0,>=1.18->voila) (3.4)
Requirement already satisfied: sniffio>=1.1 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from anyio<4,>=3.1.0->jupyter-server<2.0.0,>=1.18->voila) (1.3.0)
Requirement already satisfied: zipp>=0.5 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from importlib-metadata>=4.8.3->jupyterlab-server<3,>=2.3.0->voila) (3.11.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jsonschema>=3.0.1->jupyterlab-server<3,>=2.3.0->voila) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from jsonschema>=3.0.1->jupyterlab-server<3,>=2.3.0->voila) (0.19.2)
Requirement already satisfied: fastjsonschema in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from nbformat>=5.2.0->jupyter-server<2.0.0,>=1.18->voila) (2.16.2)
Requirement already satisfied: six>=1.5 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->jupyter-client<=7.4.1,>=6.1.3->voila) (1.16.0)
Requirement already satisfied: argon2-cffi-bindings in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from argon2-cffi->jupyter-server<2.0.0,>=1.18->voila) (21.2.0)
Requirement already satisfied: pytz>=2015.7 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from babel->jupyterlab-server<3,>=2.3.0->voila) (2022.6)
Requirement already satisfied: soupsieve>1.2 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from beautifulsoup4->nbconvert<8,>=6.4.5->voila) (2.3.2.post1)
Requirement already satisfied: webencodings in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from bleach->nbconvert<8,>=6.4.5->voila) (0.5.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from packaging->jupyter-server<2.0.0,>=1.18->voila) (3.0.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from requests->jupyterlab-server<3,>=2.3.0->voila) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from requests->jupyterlab-server<3,>=2.3.0->voila) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from requests->jupyterlab-server<3,>=2.3.0->voila) (1.26.13)
Requirement already satisfied: cffi>=1.0.1 in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from argon2-cffi-bindings->argon2-cffi->jupyter-server<2.0.0,>=1.18->voila) (1.15.1)
Requirement already satisfied: pycparser in c:\users\faculdade\appdata\roaming\python\python39\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->jupyter-server<2.0.0,>=1.18->voila) (2.21)
Installing collected packages: websockets, jupyter-client, voila
  Attempting uninstall: jupyter-client
    Found existing installation: jupyter_client 7.4.7
    Uninstalling jupyter_client-7.4.7:
      Successfully uninstalled jupyter_client-7.4.7
Successfully installed jupyter-client-7.4.1 voila-0.4.0 websockets-10.4

### Bibliotecas
---

In [135]:
#ignore Warnings

import warnings
warnings.filterwarnings('ignore')

In [136]:
# Linear Algebra

import numpy as np 
import numpy.linalg as linear_algebra
import math

In [137]:
# DataFrame representation

import pandas as pd

In [138]:
# Visualisation
!pip install matplotlib -q

import matplotlib.pyplot as plt
import matplotlib
import matplotlib.patches as mpatches

In [139]:
import seaborn as sns

import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio

from ctypes import alignment

In [140]:
#Bar Chart Race
!pip install bar-chart-race -q
import bar_chart_race as bcr

In [141]:
# ipwidgets

from ipywidgets import GridspecLayout, Layout, VBox, HBox, HTML, widgets

In [142]:
# Dictionary operations

import operator
import collections
import copy
from collections import Counter

---
## Configurações
---

In [143]:
# Parâmetros globais do Pyplot
# Tamanho das figuras

plt.rcParams['figure.figsize'] = [7, 7]

# Tamanho das fontes nos gráficos

plt.rc('font', size = 14)          # controls default text sizes
plt.rc('axes', titlesize = 17)     # fontsize of the axes title
plt.rc('axes', labelsize = 17)     # fontsize of the x and y labels
plt.rc('xtick', labelsize = 14)    # fontsize of the tick labels
plt.rc('ytick', labelsize = 14)    # fontsize of the tick labels
plt.rc('legend', fontsize = 16)    # legend fontsize
plt.rc('figure', titlesize = 18)   # fontsize of vthe figure title

suptitle_size = 20

---
## Funções Auxíliares
---

In [144]:
def plot_ratings(data, bins = "sqrt", label_location = 0, size = [12,6], fontsize = 8):

    #creating intervals bins for the ratings
    n = data.shape[0]

    #creating the figure
    fig = plt.figure(figsize=size)
    values, bins, _ = plt.hist(data, 
                             bins=bins, 
                             color = 'C0', 
                             alpha = 0.8, 
                             edgecolor='black', 
                             linewidth=1.2, 
                             weights=np.ones(n) / n)

    for bin, value in zip(bins, values):
        if value > 0:
            plt.text(bin + label_location, value + 0.01, f'{value:.2f}', rotation = 45, fontsize = fontsize)
  
    plt.ylabel('Percent')

    return plt.gca()

---
## **Limpeza e Pré-processamento**
---

### Open Dataset
---

In [145]:
#loading the data

imdb = pd.read_csv("https://raw.githubusercontent.com/Heitorcp/SCC0252-Visualizacao-Computacional/master/datasets/imdb/imdb_top_1000.csv")

In [146]:
poster_links = imdb['Poster_Link']
imdb = imdb.drop(["Poster_Link"], axis = 1)

In [147]:
print("Dimensão dos dados :", imdb.shape)

Dimensão dos dados : (1000, 15)

In [148]:
imdb.head(2)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"

In [149]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Overview       1000 non-null   object
 7   Meta_score     843 non-null    float64
 8   Director       1000 non-null   object
 9   Star1          1000 non-null   object
 10  Star2          1000 non-null   object
 11  Star3          1000 non-null   object
 12  Star4          1000 non-null   object
 13  No_of_Votes    1000 non-null   int64
 14  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(12)
memory usage: 117.3+ KB

### Limpeza dos Dados
---

Precisamos converter as seguintes colunas quantitativas:

  * Released_Year : Int
  * Runtime: Int
  * Gross: Float

In [150]:
imdb['Released_Year'] = pd.to_numeric(imdb['Released_Year'], errors = 'coerce')

In [151]:
imdb['Released_Year'][imdb['Released_Year'].isna()]

966   NaN
Name: Released_Year, dtype: float64

In [152]:
print(f'Erros, na converção:\n')
print(f"index 966: {imdb['Series_Title'][966]}")

Erros, na converção:

index 966: Apollo 13

Como o ano de lançamento do filme Apolo 13 é 1995, substituímos o valor no dataset

In [153]:
imdb['Released_Year'][966] = 1995
imdb['Released_Year'] = imdb['Released_Year'].astype('int')

In [154]:
imdb["Runtime"] = imdb["Runtime"].apply(lambda time: time.replace(' min', '')).astype(int)

In [155]:
imdb["Gross"] = imdb["Gross"].str.replace(",","").astype(float)

imdb["Gross"] = imdb["Gross"].fillna(np.median(imdb["Gross"].dropna()))
imdb["Meta_score"] = imdb["Meta_score"].fillna(np.median(imdb['Meta_score'].dropna()))

In [156]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   int32
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   int32
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Overview       1000 non-null   object
 7   Meta_score     1000 non-null   float64
 8   Director       1000 non-null   object
 9   Star1          1000 non-null   object
 10  Star2          1000 non-null   object
 11  Star3          1000 non-null   object
 12  Star4          1000 non-null   object
 13  No_of_Votes    1000 non-null   int64
 14  Gross          1000 non-null   float64
dtypes: float64(3), int32(2), int64(1), object(9)
memory usage: 109.5+ KB

### Extração de Atributos
---

Neste dataset, um filme pode pertencer a mais de um gênero. Desse modo, a fim de realizarmos as análises necessárias, dividiremos os gêneros em diferentes colunas.

In [157]:
imdb_genre = imdb.copy()

imdb_genre[["Genre01", "Genre02", "Genre03"]] = imdb_genre["Genre"].str.split(', ',3,expand=True).fillna(value=np.nan)

#filling NaN genre columns with the previous value 

imdb_genre.loc[imdb_genre["Genre02"].isnull(), ["Genre02"]] = imdb_genre["Genre01"]
imdb_genre.loc[imdb_genre["Genre03"].isnull(), ["Genre03"]] = imdb_genre["Genre01"]

Obtendo o resultado abaixo. Por exemplo, o último filme no dataset é classificado como pertencente aos gêneros: Crime, Mystery e Thriller.

In [158]:
imdb_genre[['Genre01', 'Genre02', 'Genre03']].tail()

    Genre01  Genre02   Genre03
995  Comedy    Drama   Romance
996   Drama  Western     Drama
997   Drama  Romance       War
998   Drama      War     Drama
999   Crime  Mystery  Thriller

---
## Análise ao Longo do Anos
---

### Definição da View

In [159]:
year_view_css = HTML(
    value = """
        <style>
            .widget-radio-box {
                flex-direction: row !important; 
                width: 100vw!important;
                }
                
            .widget-radio-box label{
                margin:5px !important;
                width: 180px!important;
                }
        </style>
    """
)

In [160]:
class YearView(object):
    
    def __init__(self, css):
        
        self.datasets = []
        self.labels = []
        self.titles = []
        
        self.css = css
        
        display(self.css)
    
    def add_dataset(self, data, labels, title):
        
        self.datasets.append(data)
        self.labels.append(labels)
        self.titles.append(title)

In [161]:
year_view = YearView(year_view_css)

HTML(value='\n        <style>\n            .widget-radio-box {\n                flex-direction: row !important…

### Adicionando os Datasets Por Ano

In [162]:
# Ano de lançamento

released_year = imdb['Released_Year'].value_counts().sort_index(ascending=True).reset_index()
released_year['ma'] = released_year['Released_Year'].rolling(10).mean()

In [163]:
year_view.add_dataset(released_year, ['Ano', 'Número de Filmes', 'Média Móvel de 10 anos'], 'Número de Filmes por Ano')

In [164]:
# Arrecadação

gross_year = imdb[["Released_Year", "Gross"]].sort_values(by="Released_Year", ascending=True).groupby('Released_Year', as_index = False).mean()
gross_year['ma'] = gross_year["Gross"].rolling(window=10, min_periods=10).mean()

In [165]:
year_view.add_dataset(gross_year, ['Ano', 'Arrecadação Média', 'Média Móvel de 10 anos'], 'Arrecadação média dos Filmes ao longo dos anos')

In [166]:
runtime_year = imdb[["Released_Year", "Runtime"]].sort_values(by="Released_Year", ascending=True).groupby('Released_Year', as_index = False).mean()
runtime_year['ma'] = runtime_year["Runtime"].rolling(window=10, min_periods=10).mean()

In [167]:
year_view.add_dataset(runtime_year, ['Ano', 'Duração Média', 'Média Móvel de 10 anos'], 'Duração média dos Filmes ao longo dos anos')

In [168]:
rating_year = imdb[["Released_Year","IMDB_Rating"]].groupby('Released_Year', as_index=False).mean()
rating_year['ma'] = rating_year["IMDB_Rating"].rolling(window=10, min_periods=10).mean()

In [169]:
year_view.add_dataset(rating_year, ['Ano', 'Rating Médio', 'Média Móvel de 10 anos'], 'IMDb Rating médo ao longo dos anos')

In [170]:
score_year = imdb[["Released_Year","Meta_score"]].groupby('Released_Year', as_index=False).mean()
score_year['ma'] = score_year["Meta_score"].rolling(window=10, min_periods=10).mean()

In [171]:
year_view.add_dataset(score_year, ['Ano', 'Socore Médio', 'Média Móvel de 10 anos'], 'Meta Score médio ao longo dos anos')

### Criando a figura

In [172]:
def plot_times_serie(x, y, labels, title):
    fig = go.Figure()

    fig.add_trace(
        go.Scatter(
            x= x,
            y= y[0],
            legendgroup="group",  # this can be any string, not just "group"
            legendgrouptitle_text="Legenda",
            name = labels[1],
            mode="lines",
        )
    )

    fig.add_trace(
        go.Scatter(
            x= x,
            y= y[1],
            legendgroup="group",  # this can be any string, not just "group"
            name = labels[2],
            mode="lines",
        )
    )
    
    fig.update_layout(
        xaxis_title="Anos",
        title = title
    )
    return go.FigureWidget(fig)

In [173]:
year_view.plot_by_year = plot_times_serie(
    year_view.datasets[0].iloc[:, 0], 
    [year_view.datasets[0].iloc[:, 1], year_view.datasets[0].iloc[:, 2]],
    year_view.labels[0], year_view.titles[0])

In [174]:
def up_plot(_self, option):

    n_op = _self.radio_options.options.index(option.new)
    
    
    with _self.plot_by_year.batch_update():
        
        _self.plot_by_year.data[0].x = _self.datasets[n_op].iloc[:,0]
        _self.plot_by_year.data[0].y = _self.datasets[n_op].iloc[:,1]
        _self.plot_by_year.data[0].name = _self.labels[n_op][1]
        
        _self.plot_by_year.data[1].x = _self.datasets[n_op].iloc[:,0]
        _self.plot_by_year.data[1].y = _self.datasets[n_op].iloc[:,2]
        _self.plot_by_year.data[1].name = _self.labels[n_op][2]
        
        _self.plot_by_year.layout.title.text = _self.titles[n_op]
    
YearView.up_plot = up_plot

### Adicionando o Radio Butto

In [175]:
year_view.radio_options = widgets.RadioButtons(
    options = ['Filmes Por Ano', 'Arrecadação', 'Duração Média', 'IMDB Rating', 'Meta Score Médio'],
    description='<b> Por:</b>',
)

In [176]:
year_view.radio_options.observe(year_view.up_plot, 'value')

### Criando a Soma Acumulada De Filmes Por Gênero Por Ano

In [177]:
data_genres = imdb["Genre"].str.split(', ',3,expand=True).fillna(value=np.nan)

In [178]:
genres = np.unique(data_genres.to_numpy().flatten().astype(str))[:-1]

In [179]:
genres_dict = {}

for genre in genres:
    genres_dict[genre] = 0

In [180]:
years = imdb["Released_Year"].unique()
years.sort()

In [181]:
genres_by_year = {}

for year in years:
    genres_by_year[year] = genres_dict.copy()

In [182]:
for year, genres in zip(imdb["Released_Year"], data_genres.to_numpy()):
    for genre in genres:
        if not pd.isna(genre):
            genres_by_year[year][genre] += 1

In [183]:
genres_by_year_cumsum = {years[0]: genres_by_year[years[0]]}

for i in np.arange(1,years.shape[0]):
    
    temp = Counter(genres_by_year[years[i]])
    temp.update(Counter(genres_by_year_cumsum[years[i-1]]))
    
    genres_by_year_cumsum[years[i]] = dict(temp)

In [184]:
genres_by_year_list = []

for year, generos in zip(years, genres_by_year_cumsum.values()): 
    for genero in generos.keys():
        genres_by_year_list.append([year, genero, generos[genero]])

In [185]:
genre_year = pd.DataFrame(genres_by_year_list, columns = ['Ano', 'Genero', 'SomaAcumulada'])
year_view.genre_year = genre_year

### Criando o Gráfico de Barras

In [186]:
def animated_bars(x, y, title, labels, colors):
    fig = go.Figure()


    fig.add_trace(
        go.Bar(
            x = x,
            y = y,
            orientation= 'h',
            marker_color = colors,
        )
    )
    
    fig.update_layout(
        xaxis_title=labels[0],
        yaxis_title=labels[1],
        width=1200, height=700,
        title = title,
        template = 'plotly_white', 

    )

    return go.FigureWidget(fig)

In [187]:
year_view.genre_by_years_bars = animated_bars(
    year_view.genre_year[year_view.genre_year.Ano == 2020]['SomaAcumulada'],
    year_view.genre_year[year_view.genre_year.Ano == 2020]['Genero'],
    'Número de Filmes Por Gênero ao Decorrer Dos Anos',
    ['Filmes Até', 'Gênero'],
    px.colors.qualitative.Dark24)

In [188]:
def update_genre_by_years_bars(_self, x):    
    
    with _self.plot_by_year.batch_animate():
        
        _self.genre_by_years_bars.data[0].x = _self.genre_year[year_view.genre_year.Ano == x]['SomaAcumulada']
        _self.genre_by_years_bars.data[0].y = _self.genre_year[year_view.genre_year.Ano == x]['Genero']
    
YearView.update_genre_by_years_bars = update_genre_by_years_bars

### Slider

In [189]:
year_view.genre_by_years_bars_slider = widgets.SelectionSlider(options=years)

In [190]:
widgets.interact(year_view.update_genre_by_years_bars, x = year_view.genre_by_years_bars_slider)

interactive(children=(SelectionSlider(description='x', options=(1920, 1921, 1922, 1924, 1925, 1926, 1927, 1928…

### Layout

In [191]:
year_view.layout = VBox([year_view.radio_options, year_view.plot_by_year, year_view.genre_by_years_bars, year_view.genre_by_years_bars_slider])

---
## Análise por Genêro
---

### Criação da View Genero

In [192]:
class GenreView(object):
    
    def __init__(self):
        
        self.datasets = {}
    
    def add_dataset(self, name, data, labels, title):
        self.datasets[name] = {'data': data, 'xlabel': labels[0], 'ylabel': labels[1], 'title': title}

In [193]:
genre_view = GenreView()

### Dados da Arrecadação

In [194]:
data_genres = imdb["Genre"].str.split(', ',3,expand=True).fillna(value=np.nan)

In [195]:
genres = np.unique(data_genres.to_numpy().flatten().astype(str))[:-1]

In [196]:
imdb.columns

Index(['Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre',
       'IMDB_Rating', 'Overview', 'Meta_score', 'Director', 'Star1', 'Star2',
       'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [197]:
metrics_data = imdb[['IMDB_Rating', 'Meta_score', 'Gross']].to_numpy()

In [198]:
data_by_genre = []

for i, film_genres in enumerate(data_genres.to_numpy()):
    
    for genre in film_genres:
        if not pd.isna(genre):
            temp = list(metrics_data[i])
            temp.append(genre)
            data_by_genre.append(temp)

In [199]:
data_by_genre = pd.DataFrame(data_by_genre, columns = ['IMDB', 'Meta', 'Arrecadacao', 'Genero'])
data_by_genre.head()

   IMDB   Meta  Arrecadacao  Genero
0   9.3   80.0   28341469.0   Drama
1   9.2  100.0  134966411.0   Crime
2   9.2  100.0  134966411.0   Drama
3   9.0   84.0  534858444.0  Action
4   9.0   84.0  534858444.0   Crime

In [200]:
genre_view.gross = data_by_genre[['Genero', 'Arrecadacao']].groupby(by = 'Genero')

genre_view.IMDB_Meta = data_by_genre[['Genero', 'IMDB', 'Meta','Arrecadacao']].groupby(by = 'Genero')

### Gráficos

In [201]:
gross_sum = genre_view.gross.sum().sort_values('Arrecadacao',ascending=False).reset_index()

n_films_by_genre = genre_view.gross.count().reset_index()

In [202]:
output = widgets.Output()
with output:
    
    fig, ax = plt.subplots(1, 1, figsize = (30, 6)) # Create matplotlib figure
    ax2 = ax.twinx() # Create another axes that shares the same x-axis as ax.

    width = 0.4

    gross_sum.plot(kind='bar', x= 'Genero', y = 'Arrecadacao', color='C0', ax=ax, width=width, position=1, alpha = 0.8, label = 'Arrecadacao')
    n_films_by_genre.plot(kind='bar', x= 'Genero', y = 'Arrecadacao', color='C2', ax=ax2, width=width, position=0, alpha = 0.8, label = 'Arrecadacao')


    ax.get_legend().remove()
    ax2.get_legend().remove()

    ax.set_ylabel('Arrecadação em Milhões', color = 'C0')
    ax2.set_ylabel('Nº de Filmes', color = 'C2')

    ax2.spines['left'].set_color('C0')
    ax2.spines['right'].set_color('C2')

    ax.tick_params(axis='y', colors='C0')
    ax2.tick_params(axis='y', colors='C2')

    plt.xlim(-1, 21)

    ax.set_xlabel("Gênero")
    plt.title("Arrecadação por Gênero", fontsize=20)
    plt.show()

In [203]:
mean_imdb_meta = genre_view.IMDB_Meta.mean().reset_index()
median_imdb_meta = genre_view.IMDB_Meta.median().reset_index()

In [204]:
imdb_stat = mean_imdb_meta[['Genero']]
imdb_stat['Mean'] = mean_imdb_meta['IMDB']
imdb_stat['Median'] = median_imdb_meta['IMDB']

imdb_stat = imdb_stat.sort_values('Mean',ascending=False)

In [267]:
plt_imdb_genre = go.Figure()

plt_imdb_genre.add_trace(go.Bar(name="Média", x=imdb_stat.Genero, y=imdb_stat.Mean, ))
plt_imdb_genre.add_trace(go.Bar(name="Mediana", x=imdb_stat.Genero, y=imdb_stat.Median, ))

plt_imdb_genre.update_layout(
    xaxis_title="Gênero",
    yaxis_title="IMDB Rating",
    title = 'IMDB Rating Por Gênero',
    yaxis_range=[7.8, 8.1]
)

plt_imdb_genre = go.FigureWidget(plt_imdb_genre)

In [206]:
meta_stat = mean_imdb_meta[['Genero']]
meta_stat['Mean'] = mean_imdb_meta['Meta']
meta_stat['Median'] = median_imdb_meta['Meta']

meta_stat = meta_stat.sort_values('Mean',ascending=False)

In [271]:
plt_meta_genre = go.Figure()

plt_meta_genre.add_trace(go.Bar(name="Média", x=meta_stat.Genero, y=meta_stat.Mean, ))
plt_meta_genre.add_trace(go.Bar(name="Mediana", x=meta_stat.Genero, y=meta_stat.Median, ))

plt_meta_genre.update_layout(
    xaxis_title="Gênero",
    yaxis_title="Meta Score",
    title = 'Meta Score Por Gênero',
    yaxis_range=[70, 90]
)

plt_meta_genre = go.FigureWidget(plt_meta_genre)

In [272]:
genre_view.layout = VBox([output, plt_imdb_genre, plt_meta_genre])

---
## Análise Por Atores
---

### View Top10 Atores

In [209]:
class ActorView(object):
    
    def __init__(self):
        
        self.datasets = {}
    
    def add_dataset(self, name, data, labels, title):
        self.datasets[name] = {'data': data, 'xlabel': labels[0], 'ylabel': labels[1], 'title': title}

In [210]:
actor_view = ActorView()

### Preparando o Dataset dos TOP10

In [211]:
imdbTop10 = imdb
actorsRev = {}
actorsNVotes = {}
actorsRating = {}
actorsScore = {}

for starNumber in np.arange(1, 5):

  stars = imdbTop10['Star'+str(starNumber)]

  for row in np.arange(imdbTop10.shape[0]):
    
    if stars.iloc[row] not in actorsRev:
      actorsRev[stars.iloc[row]] = 0
      actorsNVotes[stars.iloc[row]] = []
      actorsRating[stars.iloc[row]] = []
      actorsScore[stars.iloc[row]] = []
    
    actorsRev[stars.iloc[row]] += imdbTop10['Gross'].iloc[row]
    actorsNVotes[stars.iloc[row]].append(imdbTop10['No_of_Votes'].iloc[row])
    actorsRating[stars.iloc[row]].append(imdbTop10['IMDB_Rating'].iloc[row])
    actorsScore[stars.iloc[row]].append(imdbTop10['Meta_score'].iloc[row])

In [212]:
actorsDf = pd.DataFrame(actorsRev.keys(), columns = ['Actor'])
actorsDf['Gross'] =  actorsRev.values()

actorsDf['No_of_Votes'] = actorsNVotes.values()
actorsDf['MeanVotes'] = actorsDf['No_of_Votes'].apply(np.mean)

actorsDf['IMDB_Ratings'] = actorsRating.values()
actorsDf['MeanRating'] = actorsDf['IMDB_Ratings'].apply(np.mean)

actorsDf['Meta_score'] = actorsScore.values()
actorsDf['MeanScore'] = actorsDf['Meta_score'].apply(np.mean)

In [213]:
actorsDf = actorsDf.sort_values(by="Gross", ascending=False)

In [214]:
actorsList = []

for starNumber in np.arange(1, 5):

  stars = imdb['Star'+str(starNumber)]

  for row in np.arange(imdb.shape[0]):

    actorsList.append([stars.iloc[row]] + list(imdb[['Series_Title', 'Gross', 'IMDB_Rating', 'Meta_score', 'No_of_Votes']].iloc[row]))

In [215]:
actors = pd.DataFrame(actorsList, columns = ['Actor','Series_Title','Gross', 'IMDB_Rating', 'Meta_score', 'No_of_Votes'])
byActors = actors.groupby('Actor', as_index = False).sum().sort_values('Gross',ascending=False)

In [216]:
top10Actors = byActors[:10]
top10ActorsList = actors[actors['Actor'].isin(top10Actors['Actor'])]

In [217]:
actor_view.actor_list = top10ActorsList.copy()

In [218]:
actor_view.actor_list.columns = ['Ator', 'Obra', 'Arrecadação', 'Nota do IMDB', 'Meta Score', 'Número de Votos']
actor_view.titles = ['Arrecadação Por Ator', 'IMDB Por Ator', 'Meta Score Por Ator', 'Número de Votos Por Ator']

### Gráfico de Arrecadação Nod TOP10 Atores

In [219]:
fig = px.bar(top10ActorsList, 
             x='Actor',
             y='Gross',
             color='Meta_score',
             hover_name='Series_Title',
             text='IMDB_Rating',
             title='Atores/Atrizes com maiores arrecadações', 
             color_discrete_sequence=px.colors.sequential.Viridis,
             labels = {"Gross":"Arrecadação", "Actor":"Ator/Atriz"},
             template = 'plotly_white')

fig.update_xaxes(categoryarray = top10Actors['Actor'])

actor_view.plot_top_gross = go.FigureWidget(fig)

### Gráficos Da Dsitribuição Por Ator

In [220]:
actor_view.options = ['Arrecadação', 'Nota do IMDB', 'Meta Score', 'Número de Votos']

In [221]:
def handler_box_plot_actors(_self, por='Arrecadação'):
    
    n = _self.options.index(por)
    
    fig = px.box(
        _self.actor_list, 
        x = 'Ator',
        y = por, 
        color = 'Ator', 
        color_discrete_sequence = px.colors.sequential.Viridis,
        template = 'plotly_white',
        title = _self.titles[n],
    )
    
    fig.update_xaxes(categoryarray =_self.actor_list['Ator'])

    fig.update(layout_showlegend=False)
    
    return go.FigureWidget(fig)
    
ActorView.handler_box_plot_actors = handler_box_plot_actors

In [222]:
def actor_gross(_self):
    
    radio_options = widgets.RadioButtons(
        options = _self.options,
        description='<b>Por:</b>',
    )
    
    output = widgets.Output()
    
    with output:    
        widgets.interact(_self.handler_box_plot_actors, por = radio_options)
    
    return output

ActorView.actor_gross = actor_gross

### Gráficos de Distribuição

In [278]:
actor_metrics = actorsDf.sort_values('Gross',ascending=False)[['Actor', 'MeanScore', 'MeanRating', 'MeanVotes']][:10]
actor_metrics.columns = ['Ator', 'Score Médio', 'Rating Médio', 'Número de Votos Médio']

In [279]:
actor_view.metrics = actor_metrics
actor_view.options_metrics = ['Score Médio', 'Rating Médio', 'Número de Votos Médio']
actor_view.title_metrics = ['Score Médio Por Ator', 'Rating Médio Por Ator', 'Número de Votos Médio Por Ator']

In [280]:
def handler_box_plot_metrics(_self, por='Score Médio'):
    
    n = _self.options_metrics.index(por)
    
    fig = px.bar(
        _self.metrics, 
        x = 'Ator',
        y = por, 
        color = 'Ator', 
        color_discrete_sequence = px.colors.sequential.Viridis,
        template = 'plotly_white',
        title = _self.title_metrics[n-1],
    )
    
    fig.update_xaxes(categoryarray =_self.metrics['Ator'])

    fig.update(layout_showlegend=False)
    
    return go.FigureWidget(fig)
    
ActorView.handler_box_plot_metrics = handler_box_plot_metrics

In [281]:
def actor_metrics(_self):
    
    radio_options = widgets.RadioButtons(
        options = _self.options_metrics,
        description='<b>Por:</b>',
    )
    
    output = widgets.Output()
    
    with output:    
        widgets.interact(_self.handler_box_plot_metrics, por = radio_options)
    
    return output

ActorView.actor_metrics = actor_metrics

### Layout

In [282]:
def layout(_self):
    
    return VBox([_self.plot_top_gross, _self.actor_gross(), _self.actor_metrics()])

ActorView.layout = layout

## Análise Por Filme

### Criando FilmView

In [228]:
class FilmView(object):
    
    def __init__(self):
        
        self.datasets = {}
    
    def add_dataset(self, name, data, title):
        self.datasets[name] = {'data': data,'title': title}
    
    def get_dataset(self, name):
        return  self.datasets[name]
    
    def list_datasets(self):
        print(self.datasets.keys())

In [229]:
film_view = FilmView()

### Preparando o Dataset

In [230]:
top10SeriesNames = imdb.sort_values('Gross',ascending=False)['Series_Title'][:10]
top10SeriesList = actors[actors['Series_Title'].isin(top10SeriesNames)]

#grouping by IMDb rating
top10SeriesNamesIMDb = imdb.sort_values('IMDB_Rating',ascending=False)['Series_Title'][:10]
top10SeriesListImdb = actors[actors['Series_Title'].isin(top10SeriesNamesIMDb)]

top10SeriesListImdb['isTop10Actor'] = top10SeriesList['Actor'].isin(top10Actors['Actor'])

In [231]:
top10SeriesList['isTop10Actor'] = top10SeriesList['Actor'].isin(top10Actors['Actor'])

In [232]:
top10Series = top10SeriesList.groupby('Series_Title', as_index = False)

### Top10 Por Arrecadação Dataset

In [233]:
top10Prod = imdb.sort_values('Gross',ascending=False)[:10]

In [234]:
columns = ['Series_Title', 'Released_Year', 'Runtime', 'IMDB_Rating', 'Meta_score', 'No_of_Votes', 'Gross']

top10gross = imdb.sort_values('Gross',ascending=False)[:10]
top10gross = top10gross[columns]

In [235]:
top10gross['TopActors'] = top10Series.sum().sort_values('Gross', ascending=False)[:10]['isTop10Actor'].values

In [236]:
column_titles = ['Produção', 'Estreia', 'Duração', 'Nota do IMDB', 'Meta Score', 'Número de Votos', 'Arrecadação','Nº de Atores Entre os Top10 Arrecadação']
top10gross.columns = column_titles

In [237]:
film_view.add_dataset('gross', top10gross, ' Dos Top 10 Filmes Por Arrecadação')

### Gráficos dos 10 Filmes Que Mais Arrecadaram

In [238]:
film_view.gross_options = ['Estreia', 'Duração', 'Nota do IMDB', 'Meta Score', 'Número de Votos', 'Arrecadação']

In [239]:
def handler_film_gross(_self, por='Número de Votos'):
    
    n = _self.gross_options.index(por)
    data, title = _self.get_dataset('gross').values()
    
    fig = px.bar(
        data, 
        x = 'Produção',
        y = por, 
        color = 'Produção', 
        color_discrete_sequence = px.colors.sequential.Viridis,
        template = 'plotly_white',
        title = por+title,
        width = 1200,
        height = 600,
    )
    
    dy = data[por].max() - data[por].min()
    y_min = data[por].max() - dy*1.1
    y_max = data[por].max() + dy*0.1
    
    fig.update_yaxes(range=[y_min, y_max])
    fig.update(layout_showlegend=False)
    
    return go.FigureWidget(fig)
    
FilmView.handler_film_gross = handler_film_gross

In [240]:
def film_gross(_self):
    
    radio_options = widgets.RadioButtons(
        options = _self.gross_options,
        description='<b>Por:</b>',
    )
    
    output = widgets.Output()
    
    with output:    
        widgets.interact(_self.handler_film_gross, por = radio_options)
    
    return output

FilmView.film_gross = film_gross

### Dados dos Top10 IMDB Rating

In [241]:
top10IMDB = imdb.sort_values('IMDB_Rating',ascending=False)[:10]
top10IMDB['TopActors'] = top10Series.sum().sort_values('IMDB_Rating', ascending=False)[:10]['isTop10Actor'].values

In [242]:
columns = ['Series_Title', 'Released_Year', 'Runtime', 'IMDB_Rating', 'Meta_score', 'No_of_Votes', 'Gross','TopActors']
column_titles = ['Produção', 'Estreia', 'Duração', 'Nota do IMDB', 'Meta Score', 'Número de Votos', 'Arrecadação','Nº de Atores Entre os Top10 Arrecadação']

In [243]:
top10IMDB = top10IMDB[columns]
top10IMDB.columns = column_titles

In [244]:
top10IMDB.head()

,Produção,Estreia,Duração,Nota do IMDB,Meta Score,Número de Votos,Arrecadação,Nº de Atores Entre os Top10 Arrecadação
0,The Shawshank Redemption,1994,142,9.3,80.0,2343110,28341469.0,0
1,The Godfather,1972,175,9.2,100.0,1620367,134966411.0,4
2,The Dark Knight,2008,152,9.0,84.0,2303232,534858444.0,3
3,The Godfather: Part II,1974,202,9.0,90.0,1129952,57300000.0,0
4,12 Angry Men,1957,96,9.0,96.0,689845,4360000.0,2

In [245]:
film_view.add_dataset('imdb', top10IMDB, ' Dos Top 10 Filmes Pelo IMDB Rating')

### Gráficos dos 10 Filmes Com o Maior IMDB Rating

In [246]:
film_view.imdb_options = ['Estreia', 'Duração', 'Nota do IMDB', 'Meta Score', 'Número de Votos', 'Arrecadação']

In [247]:
def handler_film_imdb(_self, por='Número de Votos'):
    
    n = _self.imdb_options.index(por)
    data, title = _self.get_dataset('imdb').values()
    
    fig = px.bar(
        data, 
        x = 'Produção',
        y = por, 
        color = 'Produção', 
        color_discrete_sequence = px.colors.sequential.Viridis,
        template = 'plotly_white',
        title = por+title,
        width = 1200,
        height = 600,
    )
    
    dy = data[por].max() - data[por].min()
    y_min = data[por].max() - dy*1.1
    y_max = data[por].max() + dy*0.1
    
    fig.update_yaxes(range=[y_min, y_max])
    fig.update(layout_showlegend=False)
    
    return go.FigureWidget(fig)
    
FilmView.handler_film_imdb = handler_film_imdb

In [248]:
def film_imdb(_self):
    
    radio_options = widgets.RadioButtons(
        options = _self.imdb_options,
        description='<b>Por:</b>',
    )
    
    output = widgets.Output()
    
    with output:    
        widgets.interact(_self.handler_film_imdb, por = radio_options)
    
    return output

FilmView.film_imdb = film_imdb

### Dados dos Top10 Meta Scorer

In [249]:
top10Meta = imdb.sort_values('Meta_score',ascending=False)[:10]
top10Meta['TopActors'] = top10Series.sum().sort_values('Meta_score', ascending=False)[:10]['isTop10Actor'].values

In [250]:
top10Meta = top10Meta[columns]
top10Meta.columns = column_titles

In [251]:
film_view.add_dataset('meta', top10Meta, ' Dos Top 10 Filmes Pelo Meta Score')

In [252]:
top10IMDB.head()

,Produção,Estreia,Duração,Nota do IMDB,Meta Score,Número de Votos,Arrecadação,Nº de Atores Entre os Top10 Arrecadação
0,The Shawshank Redemption,1994,142,9.3,80.0,2343110,28341469.0,0
1,The Godfather,1972,175,9.2,100.0,1620367,134966411.0,4
2,The Dark Knight,2008,152,9.0,84.0,2303232,534858444.0,3
3,The Godfather: Part II,1974,202,9.0,90.0,1129952,57300000.0,0
4,12 Angry Men,1957,96,9.0,96.0,689845,4360000.0,2

### Gráficos dos 10 Filmes Com o Maior Meta Score

In [253]:
film_view.meta_options = ['Estreia', 'Duração', 'Nota do IMDB', 'Meta Score', 'Número de Votos', 'Arrecadação']

In [254]:
def handler_film_meta(_self, por='Número de Votos'):
    
    n = _self.meta_options.index(por)
    data, title = _self.get_dataset('meta').values()
    
    fig = px.bar(
        data, 
        x = 'Produção',
        y = por, 
        color = 'Produção', 
        color_discrete_sequence = px.colors.sequential.Viridis,
        template = 'plotly_white',
        title = por+title,
        width = 1200,
        height = 600,
    )
    
    dy = data[por].max() - data[por].min()
    y_min = data[por].max() - dy*1.1
    y_max = data[por].max() + dy*0.1
    
    fig.update_yaxes(range=[y_min, y_max])
    fig.update(layout_showlegend=False)
    
    return go.FigureWidget(fig)
    
FilmView.handler_film_meta = handler_film_meta

In [255]:
def film_meta(_self):
    
    radio_options = widgets.RadioButtons(
        options = _self.meta_options,
        description='<b>Por:</b>',
    )
    
    output = widgets.Output()
    
    with output:    
        widgets.interact(_self.handler_film_meta, por = radio_options)
    
    return output

FilmView.film_meta = film_meta

### Layout

In [256]:
def layout(_self):
    
    return VBox([_self.film_gross(), _self.film_imdb(), _self.film_meta()])

FilmView.layout = layout

## Análise Por Métricas

### Criando a MetricsView

In [257]:
class MetricsView(object):
    
    def __init__(self):
        
        self.datasets = {}
    
    def add_dataset(self, name, data, title):
        self.datasets[name] = {'data': data,'title': title}
    
    def get_dataset(self, name):
        return  self.datasets[name]
    
    def list_datasets(self):
        print(self.datasets.keys())

In [258]:
metrics_view = MetricsView()

### Gráfico da Distribuição do IMDB por Meta e Número de Votos

In [259]:
fig = px.scatter(imdb, 
                 y = 'Meta_score', 
                 x = 'IMDB_Rating', 
                 size = 'Gross', 
                 color = 'No_of_Votes', 
                 hover_name = 'Series_Title', 
                 color_continuous_scale='RdYlGn_r',
                 labels = {"IMDB_Rating":"IMDB Rating", "Meta_score":"Meta Score"},
                 template = 'plotly_white')

fig.layout.coloraxis.colorbar.title = 'Número de Votos'

metrics_view.scatter = go.FigureWidget(fig)

### Histograma IMDB

In [260]:
metrics_view.add_dataset('imdb',imdb,'imdb')

In [261]:
def imdb_hist(_self):
    output = widgets.Output()
    data = _self.get_dataset('imdb')['data']
    
    with output:    
        
        rating_bins = np.arange(7.5,10,0.25) 

        ax = plot_ratings(data["IMDB_Rating"], bins = rating_bins, label_location = 0.09, size = [5, 3])

        plt.sca(ax)

        plt.xticks(rating_bins, fontsize = 8)
        plt.yticks(np.arange(0, 0.45, 0.05), labels = range(0, 45, 5), fontsize = 8)

        plt.margins(x=0.08, y = 0.075)
        plt.ylim(0, 0.4)
        plt.xlabel('IMDB Rating', fontsize = 12)
        plt.ylabel('Percentil',fontsize = 12)
        plt.title('Distribuição do IMDB Rating', fontsize = 12)
        
        plt.show()
    
    return output
        
MetricsView.imdb_hist = imdb_hist

### Histograma Meta Score

In [262]:
def meta_hist(_self):
    output = widgets.Output()
    data = _self.get_dataset('imdb')['data']
    
    with output:    
        
        rating_bins = np.arange(0, 101, 10) 

        ax = plot_ratings(data["Meta_score"], bins = rating_bins, label_location = 4, size = [5, 3])

        plt.sca(ax)

        plt.xticks(rating_bins, fontsize = 8)
        plt.yticks(np.arange(0, 0.45, 0.05), labels = range(0, 45, 5), fontsize = 8)

        plt.margins(x=0.08, y = 0.075)
        plt.ylim(0, 0.45)
        plt.xlabel('Meta Score', fontsize = 12)
        plt.ylabel('Percentil',fontsize = 12)
        plt.title('Distribuição do Meta Score', fontsize = 12)
        
        plt.show()
    
    return output
        
MetricsView.meta_hist = meta_hist

### Layout

In [263]:
def layout(_self):
    box_layout = widgets.Layout(display='flex',
                flex_flow='row',
                justify_content = 'space-around',
                align_items='center',
                width='100%')
    
    return VBox([_self.scatter, HBox([_self.imdb_hist(), _self.meta_hist()], layout=box_layout)])

MetricsView.layout = layout

---
## Dash
---


### Introdução

In [264]:
introduction = """
    <hr/>
    <center>
        <h1>Introdução</h1>
    </center>
    <hr/>
    
    <div style = "display: flex; flex-direction: row; justify-content: space-between;">
        
        <div style = "flex-direction: column; width: 50%;"> 
            <div style = "padding: 5%; ">  
                <h2>Dataset</h2>
                <hr/>
                <p>
                    O conjunto de dados escolhido foi o IMDB Movies Dataset, ou apenas
                    IMDB, que reune informações sobre os TOP 1000 filmes e séries de televisão,
                    lançados entre os anos de 1920 e 2020, entre os 10 milhões presentes e avaliados
                    pelo público em seu website.

                </p>
            </div>
            
            <div style = "padding: 5%; "> 
                <h2>Objetivos</h2>
                <hr/>
                <ul>
                    <li>Qual a influência do ano de lançamento em métricas como o <b>Rating</b>, o número de votos e o tempo de duração;</li>
                    <li>Como é a presença dos gêneros e sua influência na arrecadação;</li>
                    <li>Quais os atores que mais se destacam e suas produções melhores avaliadas;</li>
                    <li>Se há, ou não, relação entre as métricas;</li>
                    <li>Qual a influência dos dieretores;</li>
                </ul>
            </div>
            
            <div style = ""> 
        
            </div>
        </div>
        
        <div style = "width: 50%;">
            <div style = "padding: 5%;">
                <h2>Dicionário de Dados</h2>
                <hr/>
                
                <table style = "width: 100%;  border-collapse: collapse;">
                    <tr style = ''>
                        <th style = "border-bottom: 1px solid grey;">Atributo</th>
                        <th style = "border-bottom: 1px solid grey;"> Descrição</th>
                    </tr>
                    <tr>
                        <td style = "font-weight: bold;">RunTime</td>
                        <td>Duração Total da obra.</td>
                    </tr>
                    <tr>
                        <td style = "font-weight: bold;">Gross</td>
                        <td>Dinherio arrecadado pela obra.</td>
                    </tr>
                    <tr>
                        <td style = "font-weight: bold;">IMDB Rating</td>
                        <td>Avaliação da obra pelos usuários.</td>
                    </tr>
                    <tr>
                        <td style = "font-weight: bold;">Meta Score</td>
                        <td>Média ponderada das avaliações recebidas.</td>
                    </tr>
                    <tr>
                        <td style = "font-weight: bold;">Nº of Votes</td>
                        <td>Número de votos recebidos.</td>
                    </tr>
                    <tr>
                        <td style = "font-weight: bold;">Released Year</td>
                        <td>Ano de estreia.</td>
                    </tr>
                    <tr>
                        <td style = "font-weight: bold;">Certificate</td>
                        <td>Restrição de idade no país de registro.</td>
                    </tr>
                    <tr>
                        <td style = "font-weight: bold;">Genre</td>
                        <td>Gênero da obra.</td>
                    </tr>
                    <tr>
                        <td style = "font-weight: bold;">Poster Link</td>
                        <td>Link para o poster exibido no site.</td>
                    </tr>
                    <tr>
                        <td style = "font-weight: bold;">Series Title</td>
                        <td>Nome da obra.</td>
                    </tr>
                    <tr>
                        <td style = "font-weight: bold;">Over View</td>
                        <td>Resumo/Sinopse.</td>
                    </tr>
                    <tr>
                        <td style = "font-weight: bold;">Director</td>
                        <td>Nome do diretor.</td>
                    </tr>
                    <tr>
                        <td style = "font-weight: bold;">Star<sub>i = {1, 2, 3, 4}</sub></td>
                        <td>Nome das principais estrelas presentes na obra.</td>
                    </tr>
                </table>
            
            </div>
            
        </div>
    </div>

"""

### Criação das Tabs

In [283]:
tab_contents = ['Introdução','Ano', 'Genêro', 'Atores', 'Filmes', 'Métricas']

tab = widgets.Tab([HTML(introduction), year_view.layout, genre_view.layout, actor_view.layout(), film_view.layout() , metrics_view.layout()])

tab.set_title(0, 'Introdução')

for i, tab_name in enumerate(tab_contents[1:]):

  tab.set_title(i+1, f'{tab_name}')

tab.selected_index = 0

tab

Tab(children=(HTML(value='\n    <hr/>\n    <center>\n        <h1>Introdução</h1>\n    </center>\n    <hr/>\n  …